<html>
    <head>
        <title>New custom nation</title>
    </head>
    <body>
        <form action="/create-nation" method="post">
            <div>
                <label for="title">Title:</label>
                <input type="text" id="title" name="title" />
            </div>
            <div>
                <label for="description">Development:</label>
                <textarea id="description" name="description"></textarea>
            </div>
            <div class="button">
                <button type="submit">Save nation</button>
            </div>
        </form>
    </body>
</html>